*{
    margin:0px;
    padding:0px;
    box-sizing:border-box ;
    outline:none;
    background-color:#4e4b4a;
}
.container{
    height:100vh;
    display:flex;
    align-items:center ;
    justify-content:center ;
    background-image: url(https://images.pexels.com/photos/1089842/pexels-photo-1089842.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.calculator{
    box-shadow:6px 6px 14px rgb(24, 22, 22),
               6px 6px 14px rgba(29, 27, 27, 0.4);
    padding:16px;
    border-radius:27px;
    display:grid;
    grid-template-columns:repeat(4,66px);
}
input{
    grid-column:span 4;
    height:68px;
    width:250px;
    box-shadow:inset -6px  -6px 14px #fff,
               inset  6px 6px 14px rgba(0,0,0,.3);
    border:none;
    background-color:white;
    border-radius:32px;
    color:rgb(110, 55, 3);
    text-align:end;
    margin:40px 0 30px 0;
    padding:20px;
    font-size:40px;
}
button{
  
    border:1px solid rgb(29, 36, 1);
    background-color:#8abb3b;
    border-radius:50px;
    border-radius:50%;
    width:50px;
    height:50px;
    margin:10px;
    font-weight:bold;
    font-size:20px;
}
.i{
    width:120px;
    border-radius:42px;
    border:1px solid rgb(29, 36, 1);
    background-color:white
}
